#!/usr/bin/env python
PACKAGE = "leader_follower_controller_plugin"

import roslib;
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
# ______________MPC______________
mpc = gen.add_group("MPC Controller");
mpc.add("mpc_enable", int_t, 0, "Enable MPC", 1, 0, 1)
# Q function parameters
mpc.add("cost_Q_pos_vertical", double_t, 0, "Cost Q for vertical position", 100.0, 10.0, 1000.0)
mpc.add("cost_Q_pos_horizontal", double_t, 0, "Cost Q for horizontal position", 100.0, 10.0, 1000.0)
mpc.add("cost_Q_velocity_vertical", double_t, 0, "Cost Q for vertical velocity", 5.0, 0.0, 1000.0)
mpc.add("cost_Q_velocity_horizontal", double_t, 0, "Cost Q for horizontal velocity", 5.0, 0.0, 1000.0)
mpc.add("cost_Q_input_reg", double_t, 0, "Cost Q for angle input regularization", 10.0, 0.0, 10000000.0)
mpc.add("cost_Q_thrust", double_t, 0, "Cost Q for thrust input regularization", 10.0, 0.0, 100000000.0)

# R function parameters
mpc.add("cost_R_horizontal", double_t, 0, "Cost R for horizontal input", 10.0, 0.0, 100000000.0)
mpc.add("cost_R_vertical", double_t, 0, "Cost R for vertical input", 10.0, 0.0, 10000000.0)

# MPC constraints
mpc.add("max_input_angle", double_t, 0, "Maximum input angle in degrees", 0.5, 0.0, 3.14)
mpc.add("slack_cost", double_t, 0, "Cost for slack variable", 10.0, 0.0, 100000.0)

# state constraints
mpc.add("max_vel_horizontal", double_t, 0, "Maximum horizontal velocity", 10.0, 0.0, 100.0)

# input rates
mpc.add("max_attitude_ctrl_rate", double_t, 0, "Maximum attitude control rate", 0.1, 0.0, 3.14)
mpc.add("max_thrust_rate", double_t, 0, "Maximum thrust rate", 0.1, 0.0, 10)

# attitude refresh rate
mpc.add("attitude_refresh_rate", double_t, 0, "Attitude refresh rate", 60, 0.0, 100)
mpc.add("time_decay_alpha", double_t, 0, "Time decay alpha for reference trajectory", 0.1, 0.0, 10.0)
mpc.add("use_reduced_lkf", bool_t, 0, "Check to use the LKF without attitude", False)

# _____Leader measurement noise _______
leader = gen.add_group("Leader measurement noise");
leader.add("angle_variance", double_t, 0, "Variance for angle input", 0.01, 0.0, 1.0)
leader.add("position_noise", double_t, 0, "Variance for position measurement", 0.01, 0.0, 2.0)

# ______________LKF______________
lkf = gen.add_group("LKF");
# position
lkf.add("lkf_Q_pos_horizontal", double_t, 0, "Covariance for vertical position", 0.1, 0.0, 100.0)
lkf.add("lkf_Q_pos_vertical", double_t, 0, "Covariance for vertical position", 0.1, 0.0, 100.0)
# velocity
lkf.add("lkf_Q_vel_horizontal", double_t, 0, "Covariance for horizontal velocity", 0.1, 0.0, 100.0)
lkf.add("lkf_Q_vel_vertical", double_t, 0, "Covariance for horizontal velocity", 0.1, 0.0, 100.0)
# rotation
lkf.add("lkf_Q_attitude", double_t, 0, "Covariance for rotation", 0.1, 0.0, 100.0)
# angular velocity
lkf.add("lkf_Q_ang_velocity", double_t, 0, "Covariance for angular velocity", 0.1, 0.0, 100.0)
lkf.add("lkf_Q_thrust", double_t, 0, "Covariance for thrust", 0.1, 0.0, 100.0)
lkf.add("lkf_Q_ax_offset", double_t, 0, "Covariance for accelerometer offset", 0.1, 0.0, 10.0)
lkf.add("lkf_Q_ay_offset", double_t, 0, "Covariance for accelerometer offset", 0.1, 0.0, 10.0)


lkf.add("lkf_R_position", double_t, 0, "Covariance for position measurement", 1, 0.0, 100.0)
lkf.add("lkf_R_attitude", double_t, 0, "Covariance for attitude measurement", 1, 0.0, 100.0)

# ______________LKF______________
lkf_reduced = gen.add_group("LKF Reduced");
# position
lkf_reduced.add("lkf_reduced_Q_pos_horizontal", double_t, 0, "Covariance for vertical position", 0.1, 0.0, 100.0)
lkf_reduced.add("lkf_reduced_Q_pos_vertical", double_t, 0, "Covariance for vertical position", 0.1, 0.0, 100.0)
# velocity
lkf_reduced.add("lkf_reduced_Q_vel_horizontal", double_t, 0, "Covariance for horizontal velocity", 0.1, 0.0, 100.0)
lkf_reduced.add("lkf_reduced_Q_vel_vertical", double_t, 0, "Covariance for horizontal velocity", 0.1, 0.0, 100.0)
# rotation
lkf_reduced.add("lkf_reduced_Q_attitude", double_t, 0, "Covariance for rotation", 0.1, 0.0, 100.0)
# angular velocity
lkf_reduced.add("lkf_reduced_Q_ang_velocity", double_t, 0, "Covariance for angular velocity", 0.1, 0.0, 100.0)
lkf_reduced.add("lkf_reduced_Q_thrust", double_t, 0, "Covariance for thrust", 0.1, 0.0, 100.0)
lkf_reduced.add("lkf_reduced_Q_ax_offset", double_t, 0, "Covariance for accelerometer offset", 0.1, 0.0, 10.0)
lkf_reduced.add("lkf_reduced_Q_ay_offset", double_t, 0, "Covariance for accelerometer offset", 0.1, 0.0, 10.0)


ctrl = gen.add_group("Position Controller");
# ______________PID______________
ctrl.add("ctrl_enable", double_t, 0, "Enable controller", 1.0, 0.0, 1.0)
ctrl.add("hor_Kp", double_t, 0, "Horizontal proportional parameter", 0.0, -10.0, 10.0)
ctrl.add("vert_Kp", double_t, 0, "Vertical proportional paremeter", 0.0, -10.0, 10.0)
ctrl.add("hor_Ki", double_t, 0, "Horizontal integral parameter", 0.0, -10.0, 10.0)
ctrl.add("vert_Ki", double_t, 0, "Vertical integral parameter", 0.0, -10.0, 10.0)
ctrl.add("hor_Kd", double_t, 0, "Horizontal derivative parameter", 0.0, -10.0, 10.0)
ctrl.add("vert_Kd", double_t, 0, "Vertical derivative parameter", 0.0, -10.0, 10.0)
ctrl.add("hor_sat", double_t, 0, "Horizontal saturation", 0.0, -10.0, 10.0)
ctrl.add("vert_sat", double_t, 0, "Vertical saturation", 0.0, -10.0, 10.0)

orientation = gen.add_group("Desired orientation");

orientation.add("roll", double_t, 0, "Desired roll", 0.0, -3.14, 3.14)
orientation.add("pitch", double_t, 0, "Desired pitch", 0.0, -3.14, 3.14)
orientation.add("yaw", double_t, 0, "Desired pitch", 0.0, -3.14, 3.14)

force = gen.add_group("Desired force relative to hover");

force.add("force", double_t, 0, "Desired force", 0.0, -10.0, 10.0)

exit(gen.generate(PACKAGE, "LeaderFollowerController", "leader_follower_controller"))
